
/ .top
/   %span#top--message チャットグループが作成されました。
.LeftContents
  .LeftContents__Top
    .LeftContents__Awesome
      %a.LeftContents__Awesome--Pencil
        = link_to new_group_path do
          %i.fa.fa-pencil-square-o
      %a.LeftContents__Awesome--Gear
        = link_to edit_user_path(current_user.id) do
          %i.fa.fa-cog
    .LeftContents__Username Takahisa
  .LeftContents__Bottom
    - @groups.each do |group|
      %a.LeftContents__Bottom--groupname
        =link_to group_messages_path(group.id) do
          = group.name
.RightContents
  .RightContents__Top
    %a.RightContents__Top--Edit--Self
      Edit
    %span.RightContents__Top--word1  sampleグループ
    %span.RightContents__Top--word2 Member: Takahisa
  .RightContents__Bottom
    %span.RightContents__Bottom--word1
    %span.RightContents__Bottom--word2
    %span.RightContents__Bottom--word3
    %span.RightContents__Bottom--word1
    %span.RightContents__Bottom--word2
    %span.RightContents__Bottom--word3
    %span.RightContents__Bottom--word1
    %span.RightContents__Bottom--word2
    %span.RightContents__Bottom--word3
    %span.RightContents__Bottom--word1
    %span.RightContents__Bottom--word2
    %span.RightContents__Bottom--word3
  .RightContents__Bottom--Mbox
  = form_for(@message, url: group_messages_path ) do |f|
    .RightContents__Bottom--Mbox--Send
      =f.submit  "data-disable-with":"Sending・・", value:"Send"
    %i.fa.fa-picture-o
      =f.file_field class:"RightContents__Bottom--Mbox--Awesome",type: "file"
    .RightContents__Bottom--Mbox--inputword
      =f.text_field :body, placeholder: "type a message", type: "text"
