.LeftContents
  .LeftContents__Top
    .LeftContents__Awesome
      %a.LeftContents__Awesome--Pencil
        = link_to new_group_path do
          %i.fa.fa-pencil-square-o
      %a.LeftContents__Awesome--Gear
        = link_to edit_user_path(current_user.id) do
          %i.fa.fa-cog
    .LeftContents__Username Takahisa
  .LeftContents__Bottom
    - @groups.each do |group|
      %a.LeftContents__Bottom--groupname
        =link_to group_messages_path(group) do
          = group.name
.RightContents
